body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7202 {
  position:absolute;
  left:83px;
  top:31px;
  width:109px;
  height:22px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7203 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:859px;
}
#u7204 {
  position:absolute;
  left:45px;
  top:81px;
  width:1335px;
  height:859px;
}
#u7205 {
  position:absolute;
  left:2px;
  top:422px;
  width:1331px;
  visibility:hidden;
  word-wrap:break-word;
}
